<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855668906906-kj0vemtrbmfj0n9rotthsa87dtd0ecd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855668906906-kj0vemtrbmfj0n9rotthsa87dtd0ecd7</string>
	<key>API_KEY</key>
	<string>AIzaSyCncm0xLXX6xcjSQlVYOroYvVa_xJkuFX0</string>
	<key>GCM_SENDER_ID</key>
	<string>855668906906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesApp</string>
	<key>PROJECT_ID</key>
	<string>movies-app-48256</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-app-48256.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855668906906:ios:f59d0110344bdb60f37823</string>
</dict>
</plist>